:root{
    --juventusOrange:#fdc600;
    --juventusDarkGrey: #5b5a55;
    --juventusGrey: #9a9a9a;
    --juventusWhite: #fff;
    --backgroundColor: #000;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color:var(--juventusWhite);
    background:var(--backgroundColor) no-repeat scroll;
}

h1 {
    font-size: 3em;
    border-bottom: 1px solid var(--juventusOrange);
}

h2 {
    font-size: 2em;
    margin:0;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  color: var(--juventusGrey);
  text-align: center;
}

.paragraph{
    margin: 1% 5% 6%;
}

.container{
    display: grid;
    justify-content: center;
    align-items:center;
    position: relative;
    margin: 3% 5%;
}

.team{
    display:grid;
    -ms-grid-columns:repeat(auto-fill,minmax(300px,1fr));
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 50px;
    justify-content: center;
    align-items:stretch;
    margin: 2% 6%;
}

.member{
    display:grid;
    justify-items:center;
    align-items: center;
    grid-template-areas:
    "photo"
    "name"
    "about"
    "contact";
}

.about{
    grid-area: about;
}

.name{
    grid-area:name;
    text-align: center;
}

.contact{
    grid-area: contact;
}

.description{
    justify-self: center;
}

.photo{
    border:8px solid var(--juventusDarkGrey);
    border-radius: 50%;
    opacity: 0.6;
    grid-area: photo;
}

button {
  transition: all 0.4s ease-in-out; 
  padding: 20px;
  margin: 4% 0%;
  color: var(--juventusGrey);
  border: solid 1px var(--juventusOrange);
  font-weight: 700;
  background-color: transparent;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: var(--juventusOrange);   
  font-weight: 600;
  color: var(--juventusDarkGrey);
}

.member:hover .name {
    transition: all 0.2s ease-in-out; 
    color:var(--juventusOrange);
}

.member:hover p {
    transition: all 0.2s ease-in-out; 
    color: var(--juventusWhite);
}

.member:hover .photo {
    transition: all 0.2s ease-in-out; 
    opacity:1;
    border: 8px solid var(--juventusOrange);
}

@media all and (max-width:820px){
    .container, .paragraph{
        margin: 4% 6% 4%;
    }

    .member{    
    grid-template-areas:
    "photo name name"
    "photo about about"
    "photo contact contact";
    align-content: center;
    }

    .photo{
        margin-right:20%;
    }
}

@media all and (max-width:600px){
    .member{
    grid-template-areas:
    "photo"
     "name"
    "about"
    "contact";
    }
    
    .photo{
        margin-right:0%;
    }
}