body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    background: #000;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
h1 {
    font-size: 3em;
    color: #fff;
    font-weight: 700;
    border-bottom: 1px solid transparent;
}
h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    margin: 0;
}

p {
  font-size: 1.2em;
  font-weight: 400;
  color:  #5b5a55;
}

.paragraph{
    margin: 10px 100px 80px;
    text-align: justify;
}

.container{
    display: grid;
    justify-content: center;
    align-items:center;
    position: relative;
    margin: 30px 50px;
}

.team{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 50px;
    justify-content: center;
    align-items:center;
    margin: 20px 40px;
}



.member{
    display:grid;
    justify-items:center;
    align-items: center;
    grid-template-areas:
    "photo"
    "name"
    "about"
    "contact";
}
.about{
    text-align: center;
    grid-area: about;
}

.name{
    grid-area:name;
}
.contact{
    grid-area: contact;
}
.description{
    justify-self: center;
    text-align: center;
}

.photo{
    border:8px solid #5b5a55;
    border-radius: 50%;
    opacity: 0.6;
    grid-area: photo;
}

button {
  transition: all 0.4s ease-in-out; 
  border-radius: 15px;
  width: 150px;
  padding: 20px;
  margin: 30px 0px;
  color: #fff;
  border: solid 1px #fff;
  height: 60px;
  background-color: transparent;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: #fdc600;   
}

h1:hover{
    cursor: pointer;
    color: grey;
    border-bottom: 1px solid #fdc600;
}


.member:hover .name{
    transition: all 0.4s ease-in-out; 
    color:#fdc600;
}

.member:hover p {
color:#fff;
}

.member:hover .photo {
     transition: all 0.4s ease-in-out; 
    opacity:1;
    border: 8px solid #fdc600;
}

@media all and (max-width:730px){
    .container{
        margin: 20px 50px;
    }
    .member{
    grid-template-areas:
    "photo name name"
    "photo about about"
    "photo contact contact";
    }
}

@media all and (max-width:500px){
    .container{
        margin: 15px 20px;
    }
    .member{
    grid-template-areas:
    "photo"
     "name"
    "about"
    "contact";
    }
}